<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div id="login_form">
		<form action="">
			<fieldset>
				<legend>Login Form</legend>
				<label for="name">Name : </label>
				<input type="text" name="name" id="name" />
				<label for="pswd">Password : </label>
				<input type="text" name="pswd" id="pswd" />
				<input type="submit" value="Login" />
			</fieldset>
		</form>
	</div>
</body>
</html>